<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestellung bestätigt</title>
    <link rel="stylesheet" href="style.css">
    <style>
        /* CSS für den grünen Hacken */
        .confirmation-container {
            text-align: center;
            margin-top: 50px;
        }
        .confirmation-icon {
            color: #4CAF50;
            font-size: 100px;
        }
    </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="headline_header">
                <h1><a href="index.html" style="text-decoration: none; color: inherit;">Pizza Express</a></h1>
                <p>Eine WK Industries Firma</p>
            </div>
        </div>
    </header>
    
    <main>
        <div class="container confirmation-container">
            <h2>Bestellung bestätigt</h2>
            <div class="confirmation-icon">&#10004;</div>
        </div>
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Pizza Express by prodbywly</p>
        </div>
    </footer>
</body>
</html>
