<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bestellung aufgeben</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="headline_header">
                <h1><a href="index.html" style="text-decoration: none; color: inherit;">Pizza Express</a></h1>
                <p>Eine WK Industries Firma</p>
            </div>
        </div>
    </header>
    
    <main>
        <div class="container">
            <h2>Bestellung aufgeben</h2>
            <form action="bestaetigung-bestellung.html" method="get">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">E-Mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="phone">Telefonnummer:</label>
                <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="Telefonnummer (nur Zahlen)" required>
                <label for="street">Straße:</label>
                <input type="text" id="street" name="street" required>
                <label for="house_number">Hausnummer:</label>
                <input type="text" id="house_number" name="house_number" required>
                <label for="comments">Kommentare:</label>
                <textarea id="comments" name="comments" rows="4" cols="50" style="background-color: #333;"></textarea>
                <button type="submit">Bestellen</button>
            </form>
        </div>
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 Pizza Express by prodbywly</p>
        </div>
    </footer>
</body>
</html>
