<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza bestellen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <!--Header Container mit Überschrift der Seite-->
        <div class="header_container">
            <div class="headline_header">
                <h1>Willkommen bei Pizza Express</h1>
            </div>
            <div>
                <p>Eine WK Industries Firma</p>
            </div>
        </div>
    </header>
    
    
    <main>
        <!--Container für den Haupt inhalt der Seite-->
        <div id="main_container">
            <h2>Unsere Pizzen</h2>
            <ul>
                <li>Margherita</li>
                <li>Pepperoni</li>
                <li>Diavoli</li>
            </ul>
            <form action="/bestaetigung" method="post">
                <h2>Bestellung aufgeben</h2>
                <label for="pizza">Pizza wählen:</label>
                <select id="pizza" name="pizza">
                    <option value="margherita">Margherita</option>
                    <option value="pepperoni">Pepperoni</option>
                    <option value="hawaiian">Hawaiian</option>
                </select>
                <button type="submit">Bestellen</button>
            </form>
        </div>
    </main>
    <footer>
        <!--Container für den Footer der Seite-->
        <div id="footer_container">
            <p>&copy; 2024 Pizza Express by prodbywly</p>
        </div>
    </footer>
</body>
</html>
