body {
    font-family: 'Arial Black', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
h1, h2, h3 {
    margin-top: 0;
    color: #ffcc00;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
button {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #444;
    border: none;
    color: #fff;
}
button {
    background-color: #ffcc00;
    cursor: pointer;
}
button:hover {
    background-color: #ffa500;
}

/* Bestellungsbestätigung */
.confirmation::before {
    content: '\2714';
    color: #3cb371; /* Grüne Farbe für das Häkchen */
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
/* CSS für den Hauptinhalt */
main {
    padding-bottom: 100px; /* Platz am unteren Rand des Hauptinhalts für den Footer */
}

/* CSS für den Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
